.container {
  display: flex;
  height: 100vh;
}

.left-half {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.right-half {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 10px;
}
